/*---------------------------------------------------
# COLORS
---------------------------------------------------*/
$primary: #6CCFF6;
$body-bg: #f8f8ff;

/*---------------------------------------------------
# GOOGLE FONTS
---------------------------------------------------*/
$mulish: "Mulish", Sans-Serif;
$raleway: "Raleway", Sans-Serif;

/*---------------------------------------------------
# Maps
---------------------------------------------------*/
$padding-map: (
	1 : 0.5rem,
	2 : 1rem,
	3 : 1.5rem,
	4 : 2rem,
	5 : 2.5rem
);